#
# General
#

LANG_PAIR=je
PORT=44666


#
# RNN-Search
#

RNN_SEARCH_BEAM_WIDTH=30
RNN_SEARCH_CONFIG=~/experiments/rnnsearch/train/je_lstm.train.config
RNN_SEARCH_MODEL=~/experiments/rnnsearch/train/je_lstm.model.best.converted.npz

RNN_SEARCH_DICTIONARY=~/experiments/rnnsearch/dictionaries/dic_j_e.json
RNN_SEARCH_REMOVE_UNK=False
RNN_SEARCH_NORMALIZE_UNICODE_UNK=True
RNN_SEARCH_ATTEMPT_TO_RELOCATE_UNK_SOURCE=False

#
# Parse-Server
#

PARSE_SERVER_HOME=~/parse-tools
PARSE_SERVER_HOST=basil123
PARSE_SERVER_PORT=12351
PARSE_SERVER_LANG=ja
PARSE_SERVER_COMMAND="echo '%s' | $PARSE_SERVER_HOME/src/parse_client.pl --host $PARSE_SERVER_HOST --port $PARSE_SERVER_PORT --lang $PARSE_SERVER_LANG[$LANG_PAIR]"

