#
# General
#

LANG_PAIR=je
PORT=44666


#
# RNN-Search
#

RNN_SEARCH_CONFIG=~/experiments/rnnsearch/train/je_lstm.train.config
RNN_SEARCH_MODEL=~/experiments/rnnsearch/train/je_lstm.model.best.converted.npz

RNN_SEARCH_DICTIONARY=~/experiments/rnnsearch/dictionaries/dic_j_e.json

#
# Segmenter
#

SEGMENTER_HOME=~/parse-tools
SEGMENTER_HOST=basil123
SEGMENTER_PORT=12351
SEGMENTER_LANG=ja
SEGMENTER_COMMAND="echo '%s' | $SEGMENTER_HOME/src/parse_client.pl --host $SEGMENTER_HOST --port $SEGMENTER_PORT --lang $SEGMENTER_LANG['$LANG_PAIR']"

