{
    "id": "prod",
    "ui_locale": "ja_JP.utf8",
    "servers": {
        "zh-ja": {
            "host": "knmt1", "port": 44661
        },
        "ja-zh": {
            "host": "knmt2", "port": 44662
        },
        "en-ja": {
            "host": "knmt3", "port": 44663
        },
        "ja-en": {
            "host": "knmt4", "port": 44664
        },
        "en-fr": {
            "host": "knmt5", "port": 44665
        }
    }, 
    "imap": {
        "host": "imap.gmail.com",
        "port": 993,
        "user": "my.translate.knmt.account@gmail.com",
        "password": "********",

        "incoming_request_mailbox": "INBOX",
        "processed_request_mailbox": "Processed",
        "ignored_request_mailbox": "Ignored"
    },
    "smtp": {
        "host": "smtp.gmail.com",
        "port": 587,
        "user": "my.translate.knmt.account@gmail.com",
        "password": "********",
        "from": "my.translate@example.com"
    },
    "text_splitter": {
        "host": "http://www.example.com",
        "path": "/splitter/cgi-bin/split_sentences.cgi"
    },
    "post_processing_cmd": {
        "ja-en": "cat $FILE | /share/tool/MT/tool/SMT/mosesdecoder/scripts/recaser/detruecase.perl | /share/tool/MT/tool/SMT/mosesdecoder/scripts/tokenizer/detokenizer.perl"
    },
    "next_mail_handling_delay": 300
}
